<h1>Edit Student</h1>

<form action="/students/edit/{{_id}}" method="post">
  <label for="">username</label>
  <input type="text" name="name" value={{username}}>
  <label for="">email</label>
  <input type="text" name="email" value={{email}}>
  <label for="">Image</label>
  <input type="text" name="image" value={{image}}>
  <button type="submit">Editar</button>
</form>